$primary-color: #3f51b5;

mat-table {
  width: 100%;
}
.list-container {
  padding: 2rem;
  overflow-x: scroll;
  white-space: nowrap;
  min-width: 300px;
}

mat-cell, mat-header-cell {
  text-align: center;
  justify-content:center;
  font-size: 1.2rem;
}

span {
  margin-right: 1rem;
}

mat-row:hover {
  background: lighten($primary-color, 30);
}

mat-header-cell {
  font-weight: bold;
  font-size: x-large;
}
mat-header-row {
 background: lighten($primary-color, 25);
}
.mat-row, .mat-header-row {
  min-width: 600px;
  width: 100%;
}

.mat-column-id {
  max-width: 10%;
}
.mat-column-name {
  max-width: 30%;
}
.mat-column-age {
  max-width: 20%;
}
.mat-column-costs {
  max-width: 40%;
}
