$primary-color: #3f51b5;


.card {
  max-width: 50%;
  margin-bottom: .6rem;
  box-shadow: 1px 1px 20px lighten($primary-color, 30);
}

.property-title {
  font-weight: bold;
  margin-right: 5rem;
  font-size: larger;
}

.property-value {
  font-size: larger;
}

.detail-container {
  padding: 2rem 0 0 2rem;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
}
button {
  margin: 2rem;
}
mat-card-content {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}
.property-title-container {
  width: 35%;
}
.property-value-container {
  width: 60%;
}
@media screen and (max-width: 900px) {
  .card {
    max-width: 80%;
    margin-bottom: .6rem;
  }
}
