<div *ngIf="selectedUnit" class="detail-container">
  <mat-card [@slideFromLeft]="{value: ':enter', params: {index: i * 200}}" class="card" *ngFor="let property of displayedProperties, let i = index">
    <mat-card-content>
      <div class="property-title-container">
        <p class="property-title">{{property.label}}:</p>
      </div>
      <div class="property-value-container">
        <p class="property-value">{{property.value(selectedUnit)}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<button mat-raised-button color="primary" routerLink="/units">Back to List</button>

